div#control-container {
   margin-top: 25px;
   div#central-control-container {
      

      div#central-controls {
         display: flex;
         justify-content: space-between;
         div#previous {
            //display: inline-block;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url("../img/prev.svg");
            background-repeat: no-repeat;
            margin-top: 10px;
            margin-right: -5px;
         }

         div#play-pause {
           // display: inline-block;
            width: 60px;
            height: 60px;
            cursor: pointer;
            &.amplitude-paused {
               background: url("../img/play.svg");
            }

            &.amplitude-playing {
               background: url("../img/pause.svg");
            }
         }

         div#next {
            //display: inline-block;
            width: 40px;
            height: 40px;
            cursor: pointer;
            background: url("../img/next.svg");
            background-repeat: no-repeat;
            margin-top: 10px;
            margin-left: -5px;
         }
      }
   }
}
